/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4954880 */
  src: url('//at.alicdn.com/t/c/font_4954880_1hdxxzdf0ez.woff2?t=1750659595088') format('woff2'),
       url('//at.alicdn.com/t/c/font_4954880_1hdxxzdf0ez.woff?t=1750659595088') format('woff'),
       url('//at.alicdn.com/t/c/font_4954880_1hdxxzdf0ez.ttf?t=1750659595088') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .icon-password:before {
  content: "\e6a9";
}
.icon-right:before {
	content: "\e642";
}
.icon-password:before {
  content: "\e82b";
}

.icon-iphone:before {
  content: "\e640";
} */

